<nav class="nav">
    <ul>
      <li class="nav_item">
        <a routerLink="" class="nav_link">
          <i class="fa-solid fa-house"></i>
          Home
        </a>
      </li>
      <li class="nav_item">
        <a routerLink="/cuenta" class="nav_link">
          <i class="fa-regular fa-user"></i>
          Cuenta
        </a>
      </li>
      <li class="nav_item">
        <a routerLink="/crear_producto" class="nav_link">
          <i class="fa-solid fa-circle-plus"></i>
        </a>
      </li>
      <li class="nav_item">
        <a routerLink="/categoria" class="nav_link">
          <i class="fa-regular fa-rectangle-list"></i>
          Categorias
        </a>
      </li>
      <li class="nav_item">
        <a routerLink="/carrito" class="nav_link">
          <i class="fa-solid fa-cart-shopping"></i>
          Carrito
        </a>
      </li>
    </ul>
  </nav>
  