.nav ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    background-color: #22003b;
    margin: 0;
  }

  .nav_link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    padding: 0.4em;
    color: #fff;
  }

  i{
    font-size: 1.2em;
  }
  .fa-circle-plus{
    font-size: 3em;
    color: #db96e3 ;
  }
  .nav_link:hover {
    color: #dcc0f0;
  }

  @media only screen and (min-width: 1200px){
    .nav_link{
      font-size: 1.5em;
    }

    i{
      font-size: 1.5em;
    }
    .fa-circle-plus{
      font-size: 3em;
    }
  }
