*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.card_item{
    background-color: #575757;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 1em;
}

.card_item:hover{
    cursor: pointer;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.image_item{
    height: 50%;
    width: 100%; 
}

.image_item img{
    object-fit: cover;
    width: 100%;
    height:14em;   
}

.card_body{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;    
}
p, .badge{
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: bold;

}

.badge{
    background-color: #e39fe2;    
 }