.header_container{
    text-align: center;
    padding: 1em;
    min-width: 100%;
    background-color: #371950;

  }
  .header_container h1{
    color: #dcc0f0;
    font-size: 3em;
    font-weight: bold;
  }
