<h1>Cambiar la contraseña</h1>
<form class="form_change_password" (ngSubmit)="changePasswordFunction()">
    <div class="text-field">
        <label>Contraseña nueva: </label>
        <input type="password" name="password" [(ngModel)]="changePassword.password" required>
    </div>
    <div>
        <label>Confirmar contraseña nueva: </label>
        <input type="password" name="confirmedPassword" [(ngModel)]="changePassword.confirmedPassword" required>
    </div>
    <p *ngIf="!passwordEquals()">Error las contraseñas no coinciden</p>
    <button type="submit" [disabled]="!passwordEquals()">Restablecer contraseña</button>
</form>
