<div class="main_container">
    <app-header></app-header>
    <div class="form_payment_method_container">
        <h1>Informacion sobre metodo de pago</h1>
        <form class="form_payment_method" #f="ngForm" (ngSubmit)="createPaymentMethod()">
            <div class="text-field">
                <label>Numero de tarjeta: </label>
                <input type="number" name="cardNumber" [(ngModel)]="paymentMethod.cardNumber" maxlength="16" required>
            </div>
            <div class="text-field">
                <label>Nombre del titular: </label>
                <input type="text" name="titularName" [(ngModel)]="paymentMethod.titularName" maxlength="100" required>
            </div>
            <div class="text-field">
                <label>Entidad bancaria: </label>
                <input type="text" name="bankingEntity" [(ngModel)]="paymentMethod.bankingEntity" maxlength="50" required>
            </div>
            <div class="text-field">
                <label>Fecha de expiración: </label>
                <input type="date" name="expirationDate" [(ngModel)]="paymentMethod.expirationDate" required>
            </div>
            <div class="text-field">
                <label>Cvv: </label>
                <input type="number" name="cvv" [(ngModel)]="paymentMethod.cvv" maxlength="3" required>
            </div>
            <button type="submit" [disabled]="f.invalid">Añadir metodo de pago</button>
        </form>
    </div>
    <app-nav-user></app-nav-user>
</div>