
.main_container{
    height: 100vh;
    overflow: hidden;    
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.product_form_container h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.product_form_container {
    padding: 1.5em;
    color: #ffffff;
    min-height: 80%;
    overflow-y: scroll;
   
}

.form_product {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.8em; 
    
}

.textfield {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 2em;
}

textarea {
    resize: none;
    width: 100%;
    overflow-y: scroll;
    height: 10em;
}

textarea:focus {
     border-color: #dcc0f0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(203, 177, 251);
}

.textfield label {
    width: 9em;
    display: flex;
    gap: 1em;
}


.textfield input {
    width: 100%;
    display: flex;
    gap: 1.5em;
    border-radius: 0.3em;
    background-color: transparent;
    border: 1px solid #ffffff;
    outline: none;
    padding-left: 0.5em;
    color: #ffffff;
}

.textfield input:focus {
    border: 1px solid #dcc0f0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(203, 177, 151);
}

.image_select input {
    font-size: 0.8em;
    border-radius: 0em;
    border: none;
}

.image_select input:focus {
    border: none;
    box-shadow: none;
}

.image_select input:hover {
    cursor: pointer;
}

.cbCategory select {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
}

.cbCategory select:hover {
    cursor: pointer;
}
.cbCategory select:focus {
    color: #000;
}


.cbCategory select:focus {
    border: 1px solid #dcc0f0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(203, 177, 151);
}


button {
    font-size: 2em;
    background-color: #f6a3f8;
    font-weight: bold;
    color: #ffffff;
    border-radius: 0.8em;
}

button:hover {
    background-color: #dcc0f0;
    color: #ffffff;
}

button:disabled {
    background-color: #f3b0f1;
    color: #ffffff;
    font-size: 2em;
    border-radius: 0.8em;
    border: 1px solid #ffffff;
}