.main_container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.card{
    padding: 0 1em;
    overflow-y: scroll;
    min-height: 80%;
}